{% extends 'SmgMenuBundle::layout.html.twig' %}
{% block content %}


<table class="table">
    <thead>
        <tr>
            <th>Menu</th>
            <th>Element</th>
            <th>Pozycja</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="fancybox" href="{{ path('menu_new') }}"><i class="icon-plus-sign"></i> dodaj menu</a></td>
        </tr>
    {% for menu in menus %}
        <tr>
            <td><strong>{{ menu.name }}</strong><br />id="{{ menu.name }}" <br />class="{{ menu.class }}"</td>
            <td></td>
            <td></td>
            <td>
                <ul class="nav">
                    <li><a class="fancybox" href="{{ path('item_new', { 'menu_id': menu.id }) }}"><i class="icon-plus-sign"></i> dodaj element</a></li>
                    <li><a class="fancybox" href="{{ path('menu_edit', { 'id': menu.id }) }}"><i class="icon-edit"></i> edytuj</a></li> 
                    <li><a href="{{ path('menu_delete', { 'id': menu.id }) }}"><i class="icon-remove-sign"></i> usuń</a></li>
                </ul>
            </td>
        </tr>
        {% for item in menu.items %}
        <tr>
            <td></td>
            <td>
                <strong>{{ item.title }}</strong>
                <br />
                href="{{ item.targetUrl }}"
            </td>
            <td>{{ item.position }}</td>
            <td>
                <ul class="nav">
                    <li><a class="fancybox" href="{{ path('item_edit', { 'id': item.id }) }}"><i class="icon-edit"></i> edytuj</a></li>
                    <li><a href="{{ path('item_delete', { 'id': item.id }) }}"><i class="icon-remove-sign"></i> usuń</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block extrajs %}

{% endblock %}