{% extends 'SmgNewsBundle::frontend.html.twig' %}
{% block content %}
    {% for news in newses %}
    <article class="">
        <header>
            <h2><a href="{{ path('frontend_news_show', { 'id': news.id }) }}">{{ news.title }}</a></h2>
            <p class="breadcrumb" align="right">
                <a>{{ news.author }}</a><span class="divider">|</span>
                Utworzony: {{ news.created|date('Y-m-d H:i:s') }}
                {% if news.updated %}<span class="divider">|</span>Zmieniony: {{ news.updated|date('Y-m-d H:i:s') }}{% endif %}
            </p>
        </header>
        <p class="well" >{{ news.content(500)|nl2br }}{% if news.hasMore(500) %}...<br /><a class="pull-right" href="{{ path('frontend_news_show', { 'id': news.id }) }}">Czytaj dalej</a>{% endif %}</p>
        <footer>
            <p>
            <ul class="breadcrumb">Tagi: 
                {% for tag in news.tagsArray %}
                <li>
                    <a href="#">{{ tag }}</a>{% if loop.last %}{% else %}<span class="divider">|</span>{% endif %}
                </li>
                {% endfor %}
            </ul>
            <p align="right">
                <a class="btn btn-primary" href="{{ path('frontend_news_show', { 'id': news.id }) }}#comments">
                    {% if news.countComments %}Zobacz komentarze ({{ news.countComments }}){% else %}Dodaj komentarz...{% endif %}
                </a>
            </p>
        </footer>
    </article>
    {% endfor %}
{% endblock %}